#banner {
  background-color: rgb(52, 58, 64);
  color: white;
}

#searchResultsContainer {
  margin-left: 0px;
}

.cityCell {
  background-color: rgb(248, 249, 250);
}

.weatherBoarder {
  border: 2px solid rgb(223, 223, 223);
}
